Pandas is a fast, powerful, and flexible open-source Python library used for data manipulation and analysis, built on top of NumPy, providing easy-to-use data structures like Series and Data Frame for working with structured data.

Working:
i) import dataset 
ii) data cleaning
iii) size mutability
iv) reshaping and pivoting of datasets
v) Efficient manipulation and extrlacltion
vi) statistical analysis

Data structure:
i)	Series: This a 1D array; Like: 1 column or row
ii)	Data frames: This is a 2D array.

In [2]:
import pandas as pd

In [8]:
serie = pd.Series([11,22,33,44])
print(serie)

0    11
1    22
2    33
3    44
dtype: int64

In [14]:
print(serie.dtype)
print(serie.values)
print(serie.index)
print(serie.name)

int64
[11 22 33 44]
RangeIndex(start=0, stop=4, step=1)
number

Now try to add column name using  .name =  " "

In [15]:
serie.name = "number"
print(serie)

0    11
1    22
2    33
3    44
Name: number, dtype: int64

But if we inter a char type data in the data set this time it show all are char.

In [5]:
s1 = pd.Series([11,22,'barun',44])
print(s1)

0       11
1       22
2    barun
3       44
dtype: object